

# CSharp code style settings:
[*.cs]
# Newline settings
# Everything except: object_collection_array_initializers and lambdas, anonymous_types, 

# anonymous_types:
# new { 
#   Property = 1 
# }
#
# lambdas: 
# () => { 
#   
# }
#
# object_collection_array_initializers: 
# new List<int> {
#   
# }

csharp_new_line_before_open_brace = accessors, anonymous_methods, control_blocks, events, indexers, local_functions, methods, properties, types
                                