parameters:
  projectFiles: ''
  artifactName: 'drop'

steps:
- task: NuGetToolInstaller@1
- task: UseDotNet@2
  displayName: 'Install .NET 8 SDK'
  inputs:
    version: 8.0.x
    performMultiLevelLookup: true

- task: DotNetCoreCLI@2
  displayName: Build and Restore
  inputs:
    command: 'build'
    projects: |
      ${{parameters.projectFiles}}
    arguments: --output $(System.DefaultWorkingDirectory)/publish_output --configuration Release

- task: ArchiveFiles@2
  displayName: 'Archive files'
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/publish_output'
    includeRootFolder: false
    archiveType: zip
    archiveFile: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
    replaceExistingArchive: true

- publish: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
  displayName: Create function app artifact
  artifact: ${{parameters.artifactName}}